/* Nuevo usuario */
.nuew_user{
    display: none; /* Usa block con el js */
    justify-content: center;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    flex-shrink: 0;
    background-color: #160503;
}

    .contenedor{
     display: block;
     width: 520px;
     height: 670px;
    }

    .text_createAcount{
    /* Layout */
    font-family: 'Open Sans';
    width:  500px;
    height: 49px;
    margin-top: 50px;
    flex-shrink: 0;
  
    /* Typograpy */
    color: #FFF;
    font-family: "Open Sans";
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.24px;
    }

    .return_login{
     display: flex;
     margin-top: 4px;
     gap: 20px;
     width: 500px;
     height: 20px;
    }
        .text_haveAcount, .text_logIn{
         letter-spacing: 0.08px;
         font-family: 'Open Sans';
         font-size: 13px;
         font-weight: 100;
        }

        .text_haveAcount{
         color: #ada9a9;
         }

        .text_logIn{
         color: #9F5524;
        }
        
        .text_logIn:hover{
         cursor: pointer;
         color: #b96329;
        }

    .tx_user_pass{
     display: flex;
     width: 500px;
     height: 20px;
     margin-top: 30px;
     margin-bottom: 4px;
     gap: 210px;
    }
        .tx_user, .tx_pass{
        letter-spacing: 0.08px;
        font-family: 'Open Sans';
        font-size: 13px;
        font-weight: 100;
        color: #ada9a9;
        }
        

    .ph_user_pass{
    display: flex;
    width: 520px;
    height: 30px;
    gap: 20px;
    }

/* Aplica estilos al input */
.input_pequeño, .input_grande {
    display: flex;
    padding: var(--sds-size-space-300) var(--sds-size-space-400);
    
    border-radius: 12px;
    border: var(--sds-size-stroke-border) solid rgba(217, 217, 217, 0.00);
    background: #362625;
    
    /* Tipografía */
    font-weight: 100;
    font-family: 'Open Sans';
    color: #ada9a9;
    padding-left: 8px;
}

.input_pequeño{
    min-width: 242px;
    min-height: 40px;
}
.input_grande{
    min-width: 510px;
    min-height: 40px;
}

input::placeholder { 
    color: rgba(255, 255, 255, 0.7); 
    font-style: 'Open Sans'; 
}

.tx_email, .tx_epassword, .tx_epassword{
    margin-top: 30px;
    margin-bottom: 4px;
    letter-spacing: 0.08px;
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 100;
    color: #ada9a9;
}

.terminos_condiciones{
    gap: 10px;
    margin-top: 10px;
    display: flex;
    height: 20px;
    width: 250px;
}

.text_agree, .text_termsCond{
    letter-spacing: 0.08px;
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 100;
    color: #ada9a9;
    
}

.text_agree{
    color: #ada9a9;
}

.text_termsCond{
    color: #9F5524;
}

.button_create{
    display: flex;
    margin-left: 80px;
    margin-top: 14px;
    background-color: #9F5524;
    color: #FFF;
  
    padding: 10px 130px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
  
    border-radius: 30px;
    border: var(--sds-size-stroke-border) solid rgba(217, 217, 217, 0.00);
    
    }
  
    .button_create:hover{
      background-color: #b46129;
      cursor: pointer;
    }

    .box_separador2{
        gap: 20px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 520px;
    }

    .s3, .s4{
        margin-top: 10px;
        height: 1px;
        width: 180px;
        align-self: stretch;
        background: #9F5524;
    }

    input[type="checkbox"] {
        appearance: none;
        width: 20px;
        height: 20px;
        background-color: #5c5151;
        position: relative;
        cursor: pointer;
        border-radius: 3px;
    }
    
    input[type="checkbox"]:checked {
        background-color: #b46129;
        border-color: black;
    }
    
    input[type="checkbox"]:checked::before {
        content: "✔";
        color: white;
        font-size: 14px;
        position: absolute;
        left: 4px;
    }
    
    .ojo2{
        position: absolute;
        margin-left: 480px;
        margin-top: -30px;
      }
    
    .ojo3{
        position: absolute;
        margin-left: 480px;
        margin-top: 8px;
    }
    .ojoholder{
        height: auto;
        width: auto;
        display: flex;
    }

    .ojo2:hover , .ojo3:hover{
        cursor: pointer;
    }

    .botones_login2{
        margin-top: 08px;
        gap: 40px;
        align-items: center;
        justify-content: center;
        width: 500px;
        display: flex;
    }