* {
  padding: 0;
  margin: 0;
}
 html,body, .mainBox{
  width: 100%;
  height: 100%;
 }
  .mainBox{
    display: flex;
    background-color: yellow;
  
  }

  /* Lado izquierdo */
.izquierda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    flex-shrink: 0;
    background-color: #9F5524;
    overflow: hidden;
  }
  
  .grano1, .grano2, .grano3, .grano4{
    position: absolute;
  }
  .grano1{
    top: 0px;
    left: 0px;
  }
  .grano2{
    top: 135px;
    left: 530px;
  }
  .grano3{
    bottom: 0;
    left: 10px;
  }
  .grano4{
    right: 48.8vw;
    bottom: 0;
  }

  .cartelera{
    overflow: hidden;
    display: flex;
    width: 567px;
    height: 443px;
    background-color: #E5E7EB;  
    border-radius: 64px;
  }

  .decoracion{
      margin-top: 130px; 
      width: 337px;
      height: 320px;
      flex-shrink: 0;
      fill: #160503;
  }

  .coffe_image{
    position: absolute;
    margin-left: 30px;
    margin-top: 115px;
    width: 280px;
    height: 330px;
    flex-shrink: 0;
    aspect-ratio: 37/45;
  }

  .text_cartelera{
    position: absolute;
    margin-top: 80px;
    margin-left: 310px;
 
    flex-shrink: 0;
  
    color: #160503;
    text-align: center;
    font-family: Fredoka, sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
     }

    .text_cartelera_Kopi{
      position: absolute;
      margin-top: 240px;
      margin-left: 310px;
      flex-shrink: 0;

      color: #160503;
      text-align: center;
      font-family: Fredoka, sans-serif;
      font-size: 110px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
     }

     .coffe_kopi{
      position: absolute;
      width: 90px;
      height: 102.126px;
      margin-left: 360px;
      margin-top: 263px;
      flex-shrink: 0;
      }

/* Lado derecho */
 .derecha{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  background-color: #160503;

  }

  .text_derecha{
    display: block;
    margin-top: 02vh;
    width: 80vh;
    height: 90vh;
    padding-top: 80px;
    }

   .text_login{
    /* Layout */
    margin-left: 74px;
    font-family: 'Open Sans';
    flex-shrink: 0;
    
    /* Typograpy */
    color: #FFF;
    font-family: "Open Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.24px;
  }

  .lg_return{
    width: 600px;
    height: 48px;
    display: flex;
  }

  a{
    text-decoration: none;
  }
  .return_home{
    color: #fafafaa8;
    font-family: "Open Sans";
    font-size: 22px;
    margin-top: 10px;
    margin-left: 270px;
    font-weight: 10;
  }

  .return_home2{
    color: #E5E7EB;
    font-family: "Open Sans";
    font-weight: 10;
    font-size: 10px;
  }

  .return_box{
    width: 0px;
    height: 0px;
    background-color: #9F5524;
  }

  .return_home:hover{
    cursor: pointer;
    color: #9F5524;
  }


  .newCount{
    margin-left: 78px;
    display: flex;
    height: 4vh;
    width: 38vh;
    gap: 10px;
    margin-top: 3vh;
  }

  .text_count, .text_Signup, .username_email, .placeholder_password, .forgot_your_p{
    letter-spacing: 0.08px;
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 100;
  }

  .text_count, .username_email, .placeholder_password, .forgot_your_p{
    color: #ada9a9;
  }

  .text_Signup{
    color: #9F5524;
  }

  .text_Signup:hover{
    color: #b96329;
    cursor: pointer;
  }

  .placeholder_texto{
    display: flex;
    height: 28px;
    align-items: center;
    width: 400px;
    margin-bottom: 2px;
    justify-content: space-between;
  }

  .username_email{
    margin-bottom: 10px;
  }

  .ca{
    justify-content: center;
    align-items: center;
    height: 100px;
     display: flex;
  }

  .return_home2{
    font-size: 18px;
  }

  .return_home2:hover{
    cursor: pointer;
    color: #9F5524;
  }

  .placeholder_1, .placeholder_2{
    width: 400px;
    min-height: 40px;
    padding: var(--sds-size-space-300) var(--sds-size-space-400);

    border-radius: 12px;
    border: var(--sds-size-stroke-border) solid rgba(217, 217, 217, 0.00);
    background: #362625;
    
    /* Typografia */
    font-weight: 100;
    font-family: 'Open Sans' ;
    color: #FFF;
    padding-left: 8px;
  }

  .conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }
  
  .box_placeholder1, .box_placeholder2{    
    display: flex;
    flex-direction: column;
    width: 450px;
    align-items: start;
   }

  
  .ojo{
    position: relative;
    left: 370px;
    bottom: 32px;
  }

  .ojo:hover{
    cursor: pointer;
  }

  .forgot_your_p:hover{
   color: #FFF;
   cursor: pointer;
  }


.btn_SignIn{
  display: flex;
  align-items: center;
  justify-content: center;
}
  .button_sing{
  background-color: #9F5524;
  color: #FFF;
  padding: 12px;
  width: 180px;
  gap: 8px;
  border-radius: 30px;
  border: var(--sds-size-stroke-border) solid rgba(217, 217, 217, 0.00);
  margin-right: 50px;
  }

  .button_sing:hover{
    background-color: #b46129;
    cursor: pointer;
  }

  .box_separador{
    gap: 3vh;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 79vh;
  }

  .s1, .s2{
    margin-top: 10px;
    height: 1px;
    width: 140px;
    align-self: stretch;
    background: #9F5524;
  }

  .tx_separador{
  color: #9F5524;
   text-align: right;
   font-family: "Open Sans";
   font-size: 16px;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
   letter-spacing: 0.08px;
  }

  .google, .facebook{
    display: flex;
    width: 180px;
    height: 54px;
    padding: 0px 32px 0px 31px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 10px;
    margin-right: 4px;
    border: var(--sds-size-stroke-border) solid rgba(217, 217, 217, 0.00);
  }

  .google{
    border-radius: 16px;
    background: #ffffff;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.08), 0px 2px 3px 0px rgba(0, 0, 0, 0.17);

    color: rgba(0, 0, 0, 0.54);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }


  .facebook{
    border-radius: 16px;
    background: #1877F2;

    color: #FFF;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .botones_login{
    margin-top: 40px;
    gap: 4vh;
    align-items: center;
    justify-content: center;
    width: 80vh;
    display: flex;
  }

  .facebook:hover{
    cursor:pointer;
    background: #2d83f5;
  }

  .google:hover{
    box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.3);
    cursor:pointer;
  }