/* Nuevo usuario */
.nuew_user{
    display: none; /* Usa block con el js */
    justify-content: center;
    width: 50%;
    height: 100vh;
    flex-shrink: 0;
    background-color: #160503;
}

    .contenedor{
     display: block;
     width: 80vh;
     height: 99vh;
    }

    .text_createAcount{
    /* Layout */
    font-family: 'Open Sans';
    width:  70vh;
    height: 49px;
    flex-shrink: 0;
  
    /* Typograpy */
    color: #FFF;
    font-family: "Open Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.24px;
    }

    .return_login{
     display: flex;
     margin-top: 15px;
     gap: 20px;
     width: 70vh;
     height: 49ox;
    }
        .text_haveAcount, .text_logIn{
         letter-spacing: 0.08px;
         font-family: 'Open Sans';
         font-size: 13px;
         font-weight: 100;
        }

        .text_haveAcount{
         color: #FFF;
         }

        .text_logIn{
         color: #9F5524;
        }
        
        .text_logIn:hover{
         cursor: pointer;
         color: #b96329;
        }

    .tx_user_pass{
     display: flex;
     width: 70vh;
     height: 49ox;
     margin-top: 30px;
     margin-bottom: 4px;
     gap: 32vh;
    }
        .tx_user, .tx_pass{
        letter-spacing: 0.08px;
        font-family: 'Open Sans';
        font-size: 13px;
        font-weight: 100;
        color: #FFF;
        }
        

    .ph_user_pass{
    display: flex;
    width: 70vh;
    height: 04vh;
    gap: 25px;
    }

/* Aplica estilos al input */
.input_pequeño, .input_grande {
    display: flex;
    padding: var(--sds-size-space-300) var(--sds-size-space-400);
    
    border-radius: 12px;
    border: var(--sds-size-stroke-border) solid rgba(217, 217, 217, 0.00);
    background: #362625;
    
    /* Tipografía */
    font-weight: 100;
    font-family: 'Open Sans';
    color: #FFF;
    padding-left: 8px;
}

.input_pequeño{
    min-width: 242px;
    min-height: 40px;
}
.input_grande{
    min-width: 76vh;
    min-height: 40px;
}

input::placeholder { 
    color: rgba(255, 255, 255, 0.7); 
    font-style: 'Open Sans'; 
}

.tx_email, .tx_epassword, .tx_epassword{
    margin-top: 30px;
    margin-bottom: 4px;
    letter-spacing: 0.08px;
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 100;
    color: #FFF;
}

.terminos_condiciones{
    gap: 10px;
    margin-top: 10px;
    display: flex;
    height: 20px;
    width: 80vh;
}

.text_agree, .text_termsCond{
    letter-spacing: 0.08px;
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 100;
    color: #FFF;
    
}

.text_agree{
    color: #FFF;
}

.text_termsCond{
    color: #9F5524;
}

.button_create{
    display: flex;
    margin-left: 14vh;
    margin-top: 2vh;
    background-color: #9F5524;
    color: #FFF;
  
    padding: 10px 130px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
  
    border-radius: 30px;
    border: var(--sds-size-stroke-border) solid rgba(217, 217, 217, 0.00);
    
    }
  
    .button_create:hover{
      background-color: #b46129;
      cursor: pointer;
    }

    .box_separador2{
        gap: 3vh;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 79vh;
    }