* {
  padding: 0;
  margin: 0;
}
 
  .mainBox{
    display: flex;
    background-color: yellow;
    width: 100%;
    height: 100vh;
  }
 

  /* Lado izquierdo */
.izquierda{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100.6vh;
    height: 100vh;
    flex-shrink: 0;
    background-color: #9F5524;
    overflow: hidden;
  }
  
  .grano1, .grano2, .grano3, .grano4{
    position: absolute;
  }

  .grano1{
    margin-bottom: 80vh;
    margin-right: 90vh;
  }

  .grano2{
    margin-left: 63.1vh;
  }

  .grano3{
    margin-top: 89.4vh;
    margin-right: 70vh;
  }

  .grano4{
    margin-left: 90vh;
    margin-top: 87.5vh;
  }
  .cartelera{
    overflow: hidden;
    display: flex;
    width: 567px;
    height: 443px;
    background-color: #E5E7EB;  
    border-radius: 64px;
  }

  .decoracion{
      margin-top: 130px; 
      width: 337px;
      height: 320px;
      flex-shrink: 0;
      fill: #160503;
  }

  .coffe_image{
    position: absolute;
    margin-left: 30px;
    margin-top: 115px;
    width: 280px;
    height: 330px;
    flex-shrink: 0;
    aspect-ratio: 37/45;
  }

  .text_cartelera{
    position: absolute;
    margin-top: 80px;
    margin-left: 310px;
 
    flex-shrink: 0;
  
    color: #160503;
    text-align: center;
    font-family: Fredoka, sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
     }

    .text_cartelera_Kopi{
      position: absolute;
      margin-top: 240px;
      margin-left: 310px;
      flex-shrink: 0;

      color: #160503;
      text-align: center;
      font-family: Fredoka, sans-serif;
      font-size: 110px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
     }

     .coffe_kopi{
      position: absolute;
      width: 90px;
      height: 102.126px;
      margin-left: 360px;
      margin-top: 263px;
      flex-shrink: 0;
      }

/* Lado derecho */
 .derecha{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  flex-shrink: 0;
  background-color: #160503;
  }

  .text_derecha{
    display: block;
    margin-top: 02vh;
    width: 80vh;
    height: 90vh;
    }

   .text_login{
    /* Layout */
    margin-left: 70px;
    font-family: 'Open Sans';
    width: 172px;
    height: 49px;
    flex-shrink: 0;
    
    /* Typograpy */
    color: #FFF;
    font-family: "Open Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.24px;
  }

  .newCount{
    margin-left: 70px;
    display: flex;
    height: 4vh;
    width: 38vh;
    gap: 20px;
    margin-top: 2vh;
  }

  .text_count, .text_Signup, .username_email, .placeholder_password, .forgot_your_p{
    letter-spacing: 0.08px;
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 100;
  }

  .text_count, .username_email, .placeholder_password{
    color: #FFF;
  }

  .forgot_your_p{
    color: #ada9a9;
  }
  .text_Signup{
    color: #9F5524;
  }

  .text_Signup:hover{
    color: #b96329;
    cursor: pointer;
  }

  .placeholder_texto{
    display: flex;
    height: 24px;
    width: 80vh;
    gap: 30vh;
  }

  .username_email{
    margin-bottom: 10px;
  }


  .placeholder_1, .placeholder_2{
    display: flex;
    min-width: 60vh;
    min-height: 40px;
    padding: var(--sds-size-space-300) var(--sds-size-space-400);
    align-items: center;
    align-self: center;

    border-radius: 12px;
    border: var(--sds-size-stroke-border) solid rgba(217, 217, 217, 0.00);
    background: #362625;
    
    /* Typografia */
    font-weight: 100;
    font-family: 'Open Sans' ;
    color: #FFF;
    padding-left: 8px;
  }

  .box_placeholder1, .box_placeholder2{    
    margin-top: 40px;
    margin-left: 70px;
    width: 75vh;
    height: 10vh;
   }

  .ojoAndHolder{
    display: flex;
  }

  .ojo{
    position: absolute;
    margin-top: 8px;
    margin-left: 55vh;
  }

  .ojo:hover{
    cursor: pointer;
  }

  .forgot_your_p:hover{
   color: #FFF;
   cursor: pointer;
  }

  .button_sing{
  display: flex;
  margin-left: 18vh;
  margin-top: 5vh;
  background-color: #9F5524;
  color: #FFF;

  padding: 10px 130px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;

  border-radius: 30px;
  border: var(--sds-size-stroke-border) solid rgba(217, 217, 217, 0.00);
  
  }

  .button_sing:hover{
    background-color: #b46129;
    cursor: pointer;
  }

  .box_separador{
    gap: 3vh;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 79vh;
  }

  .s1, .s2{
    margin-top: 10px;
    height: 1px;
    width: 110px;
    align-self: stretch;
    background: #9F5524;
  }

  .tx_separador{
  color: #9F5524;
   text-align: right;
   font-family: "Open Sans";
   font-size: 16px;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
   letter-spacing: 0.08px;
  }

  .google, .facebook{
    display: flex;
    width: 180px;
    height: 54px;
    padding: 0px 32px 0px 31px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 10px;
    border: var(--sds-size-stroke-border) solid rgba(217, 217, 217, 0.00);
  }

  .google{
    border-radius: 16px;
    background: #ffffff;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.08), 0px 2px 3px 0px rgba(0, 0, 0, 0.17);

    color: rgba(0, 0, 0, 0.54);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }


  .facebook{
    border-radius: 16px;
    background: #1877F2;

    color: #FFF;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .botones_login{
    margin-top: 40px;
    gap: 4vh;
    align-items: center;
    justify-content: center;
    width: 80vh;
    display: flex;
  }

  .facebook:hover{
    cursor:pointer;
    background: #2d83f5;
  }

  .google:hover{
    box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.3);
    cursor:pointer;
  }