* {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background: cornflowerblue;
}

.encabezado{
    width: 100%;
    height: 10vh;
    background-color: black;
}

.cuerpo{
    display: flex;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-color: red;
}   

    .izquiera{
        width: 50%;
        height: 90vh;
        background-color: burlywood;
    }

    .derecha{
        width: 50%;
        height: 90vh;
        background-color: yellowgreen;
    }















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































